{% extends "payment/base_layout.html" %}
{% block content %}
    <div class="panel panel-default">
        <div class="panel-heading">{{ title }}: {{ result }}</div>
        <div class="panel-body">
            <p>Mã hóa đơn:{{ order_id }}</p>
            <p>Tổng tiền:{{ amount }}</p>
            <p>Nội dung thanh toán:{{ order_desc }}</p>
            <p>Mã thanh toán:{{ vnp_TransactionNo }}</p>
            {% if vnp_ResponseCode == '00' %}
                <p>Trạng thái thanh toán:  Thành công</p>

                <script>
                    window.addEventListener("DOMContentLoaded", function(){
                        fetch('/clear_cart/', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                                'X-CSRFToken': csrftoken,
                            },
                            body: JSON.stringify({})
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                console.log('Giỏ hàng đã được xóa!');
                            } else {
                                console.log('Có lỗi xảy ra khi xóa giỏ hàng.');
                            }
                        });
                    });
                </script>

            {% else %}
                <p>Trạng thái thanh toán: Lỗi</p>
            {% endif %}
            {% if msg %}
                <p class="alert-warning"> {{ msg }}</p>
            {% endif %}
        </div>

        <div class="panel-heading">Thông tin người nhận</div>
        <div class="panel-body">
            <p>Họ và tên:{{ name }}</p>
            <p>Email:{{ email }}</p>
            <p>Địa chỉ:{{ address }}</p>
            <p>Thành phố:{{ city }}</p>
            <p>Quận/huyện:{{ state }}</p>
            <p>Zip code:{{ zipcode }}</p>
        </div>
    </div>
    <a href="{% url 'home' %}">Tiếp tục mua hàng</a>

{% endblock %}
