{% extends 'base.html' %}
{% load static %}

{% block register %}
<div class="container">
  <div class="row" style="width: 100%">
    {% for product in products %}
      <div class="col-lg-3 col-md-6 mb-4">
        <img class="thumbnail img-fluid" src="{{ product.ImageURL }}" alt="{{ product.name }}">
        <h5 class="text-center mt-2">{{ product.name }}</h5>

        <div class="d-flex justify-content-between align-items-center mt-2">
          <button data-product="{{ product.id }}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">
            Thêm vào giỏ hàng
          </button>
          <a href="{% url 'product_detail' product.id %}" class="btn btn-outline-success">Xem chi tiết</a>
        </div>

        <h5 class="text-center mt-2"><strong>{{ product.price|floatformat:0 }} VNĐ</strong></h5>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock register %}
