{% extends 'base.html' %}
{% load static %}

{% block main-content %}
<div class="container mt-5">
    <h3 class="text-success fw-bold">LIÊN HỆ</h3>
    <div class="row mt-4">
        <!-- Thông tin liên hệ -->
        <div class="col-md-4">
            <div class="bg-success text-white p-3 rounded">
                <h5 class="fw-bold">Shop anh Tùng Núi</h5>
                <p>Địa chỉ: Số 10 Trần Phú Hà Đông, Hà Nội.</p>
                <p>Hotline: 0326.223.456 - 0964.319.935</p>
            </div>
        </div>

        <!-- Google Maps -->
        <div class="col-md-8">
            <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7450.447844521892!2d105.7888468755953!3d20.98365928065438!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135accf2e89d531%3A0x79a6a4e049e4116d!2zc-G7kSAxMCDEkC4gVHLhuqduIFBow7osIFAuIE3hu5kgTGFvLCBIw6AgxJDDtG5nLCBIw6AgTuG7mWksIFZp4buHdCBOYW0!5e0!3m2!1svi!2sus!4v1746015512451!5m2!1svi!2sus" 
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>

    <!-- Form liên hệ -->
    
</div>
{% endblock main-content %}