{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"
        <title>Đăng ký</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {% block register %}
        <section class="vh-100" style="background-color: #eee;">
            <div class="container h-100">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-lg-12 col-xl-11">
                  <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                      <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
          
                          <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-2">Đăng ký</p>
          
                          <form class="mx-1 mx-md-4" method='POST' action=''>
                            {% csrf_token %}
                            <!-- Tên đăng nhập -->
                            <div class="d-flex flex-row align-items-center mb-1">
                              <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0">
                                <label class="form-label">Tên đăng nhập</label>
                                {{ form.username|add_class:"form-control" }}
                              </div>
                            </div>

                            <!-- Email -->
                            <div class="d-flex flex-row align-items-center mb-1">
                              <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0">
                                <label class="form-label">Email</label>
                                {{ form.email|add_class:"form-control" }}
                              </div>
                            </div>

                            <!-- Tên -->
                            <div class="d-flex flex-row align-items-center mb-1">
                              <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0">
                                <label class="form-label">Tên</label>
                                {{ form.first_name|add_class:"form-control" }}
                              </div>
                            </div>

                            <!-- Họ -->
                            <div class="d-flex flex-row align-items-center mb-1">
                              <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0">
                                <label class="form-label">Họ</label>
                                {{ form.last_name|add_class:"form-control" }}
                              </div>
                            </div>

                            <!-- Mật khẩu -->
                            <div class="d-flex flex-row align-items-center mb-1">
                              <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0">
                                <label class="form-label">Mật khẩu</label>
                                {{ form.password1|add_class:"form-control" }}
                              </div>
                            </div>

                            <!-- Nhập lại mật khẩu -->
                            <div class="d-flex flex-row align-items-center mb-1">
                              <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                              <div class="form-outline flex-fill mb-0">
                                <label class="form-label">Nhập lại mật khẩu</label>
                                {{ form.password2|add_class:"form-control" }}
                              </div>
                            </div>
                            <!-- Centered button -->
                            <div class="d-flex justify-content-center mb-3">
                              <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg">Đăng ký</button>
                            </div>

                            <!-- Centered login link -->
                            <div class="d-flex justify-content-center mb-3">
                              <div>Đã có tài khoản? <a href="{% url 'login' %}">Đăng nhập</a></div>
                            </div>


                            <!-- <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                              
                              <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg">Đăng ký</button>
                            </div>
          
                            <p class="text-center h6 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                              Đã có tài khoản? <a href="{% url 'login' %}">Đăng nhập</a>
                            </p>    -->
                      
                           </form>
          
                        </div>
                        <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
          
                          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                            class="img-fluid" alt="Sample image">
          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        <!--{if lt IE 7}>
            <p class = "browsehappy"> You are using an <strong>outdate</strong>. Please <a href='#'> upgrade your browser</a> to improve.
        <![endif]-->
        <script src="" async defer></script>
        {% endblock register %}
    </body>
</html>